In [61]:
#task1
name="Aisha muzaffar"

print("my name is "+name+". my rollno  is {}".format('20sw052'))

my name isAisha muzaffar my rollno  is 20sw052

In [64]:
#task2
myvar="Zukhrufaaa memon"
print("Capitalize:\n "+myvar.capitalize())
print("casefold:\n "+myvar.casefold())
print("center:\n"+myvar.center(30,'$'))
print("count:")
print(myvar.count('a',0,13))
print("encode:")
print(myvar.encode(encoding='utf-8', errors='strict'))
print("endswith:")
print(myvar.endswith('r',0,14))
print("find:")
print(myvar.find('is',0,14))
print("isspace:")
print(myvar.isspace())

myvar2='ayesha\tmuzaffar\thussain'
print(myvar2.expandtabs(2))

#usage of functions with string
intro="hello this is me, Aisha muzaffar"
print(intro.split())

#usage of functions with string
'~'.join(['i wake ','up','early','in the', 'morning',])

Capitalize:
 Zukhrufaaa memon
casefold:
 zukhrufaaa memon
center:
$$$$$$$Zukhrufaaa memon$$$$$$$
count:
3
encode:
b'Zukhrufaaa memon'
endswith:
False
find:
-1
isspace:
False
ayesha  muzaffar  hussain
['hello', 'this', 'is', 'me,', 'Aisha', 'muzaffar']

'i wake ~up~early~in the~morning'

In [28]:
#task#3 (august)
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
days=days_in_month[month-1]
print(days)

31

In [48]:
#task4
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009','July 11, 2010',
                 'November 13, 2012', 'March 20, 2015','March 9, 2016']
eclipse_dates[7:10]     #to index 10, bcoz it dont include element on the right

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [59]:
#task5
#use of nested dictionary
dict={"20SW031":{"Aiman","Ahmed","3rd year"},
      "20SW076":{"Zukhrufaa","Memon","3rd year"}}
print(dict["20SW031"])

{'3rd year', 'Aiman', 'Manahil'}